# Local AI Packaged
.env
.env.test
volumes/
shared/
supabase/

# symlink
searxng 

# Add additional files or directories to .gitignore
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
*.bak
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
node_modules/
dist/
build/